body {
  background: linear-gradient(#92d0cc7c, #d09bc6a6);
}

main {
  background: linear-gradient(#D09BC6, #92D0CC);
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  margin: 20px;
  text-align: center;
}

header {
  background-color: #D09BC6;
  text-align: center;
  width: auto;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  margin: 20px;
}

footer {
  text-align: center;
  background-color: #92D0CC;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  margin: 20px;
}
